<h1> View Pizzas
  <%= link_to "Edit", edit_pizza_path(@pizza), class: "btn btn-outline-warning" %> |
  <%= button_to "Delete", @pizza, method: :delete, class: "btn btn-outline-danger" %>
  <span class="float-right">
    <%= link_to "Back to pizzas", pizzas_path, class: "btn btn-outline-secondary" %>
  </span>
</h1>

<div class="table-responsive">
  <table class="table mt-3" aria-label="table for Pizzas">
    <tr>
      <td>Name</td>
      <td><%= @pizza.name %></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><%= @pizza.price %></td>
    </tr>
  </table>
</div>
