<h1>
  Ingredients
  <%= link_to "New ingredient", new_ingredient_path, class: "btn btn-outline-primary" %>
</h1>

<div class="table-responsive">
  <table class="table table-hover" aria-label="table for Ingredients">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |ingredient| %>
        <tr>
          <td><%= ingredient.name %></td>
          <td><%= ingredient.price %></td>
          <td>
            <%= link_to "Edit", edit_ingredient_path(ingredient), class: "btn btn-sm btn-outline-warning" %>
            <%= button_to "Delete", ingredient, method: :delete, form_class: "form-inline", data: [confirm: "Are you sure?"], class: "btn btn-sm btn-outline-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
