<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :promotions, class: "form-label" %>
    <%= form.select :promotions, Promotion.all.collect{ |p| [p.code, p.id] }, {}, class: "form-select", multiple: true %>
  </div>

  <div class="mb-3">
    <%= form.label :discount_id, class: "form-label" %>
    <%= form.select :discount_id, Discount.all.collect{ |d| [d.code, d.id] }, { include_blank: true }, class: "form-select" %>
  </div>

  <div id='order-items'>
    <%= form.fields_for :order_items do |item| %>
      <%= render 'order_item_fields', form: item %>
    <% end %>
  </div>
  <%= link_to_add_nested(form, :order_items, '#order-items', link_text: "Add Pizza") %>

  <div class="d-flex justify-content-between mt-4">
    <%= form.submit "Order", class: "btn btn-primary" %>
    <%= link_to "Back to orders", orders_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>
