<h1>
  Orders
  <%= link_to "New order", new_order_path, class: "btn btn-outline-primary" %>
</h1>

<% @orders.each do |order| %>
  <div class="card mt-3">
    <div class="card-body">
      <div className="row">
        <div className="col-6">
          <table className="table table-borderless" aria-label="order details">
            <tbody>
              <tr>
                <td>Ordered</td>
                <td><%= order.created_at %></td>
              </tr>
              <tr>
                <td>Promotion Codes</td>
                <td><%= order.promotion_codes %></td>
              </tr>
              <tr>
                <td>Discount Code</td>
                <td><%= order.discount_code %></td>
              </tr>
              <tr></tr>
              <tr></tr>
              <tr></tr>
              <tr>
                <td>Total Price</td>
                <td><%= order.price %>€</td>
              </tr>
            </tbody>
          </table>

          <%= form_with url: order_path(order.id), method: :patch do |form| %>
            <%= form.submit "Complete", class: "btn btn-primary" %>
          <% end %>
        </div>
        <div className="col-6">
          <ul aria-label="order item list">
            <% order.order_items.each do |item| %>
              <li><%= "#{item.name} (#{item.size})" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
