<h1> View Pizza sizes
  <%= link_to "Edit", edit_pizza_size_path(@pizza_size), class: "btn btn-outline-warning" %> |
  <%= button_to "Delete", @pizza_size, method: :delete, class: "btn btn-outline-danger" %>
  <span class="float-right">
    <%= link_to "Back to pizza sizes", pizza_sizes_path, class: "btn btn-outline-secondary" %>
  </span>
</h1>

<div class="table-responsive">
  <table class="table mt-3" aria-label="table for Pizza sizes">
    <tr>
      <td>Name</td>
      <td><%= @pizza_size.name %></td>
    </tr>
    <tr>
      <td>Multiplier</td>
      <td><%= @pizza_size.multiplier %></td>
    </tr>
  </table>
</div>
