<%= form_with(model: promotion) do |form| %>
  <% if promotion.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>

      <ul>
        <% promotion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :code, class: "form-label" %>
    <%= form.text_field :code, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :from, class: "form-label" %>
    <%= form.number_field :from, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :to, class: "form-label" %>
    <%= form.number_field :to, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :pizza_size_id, class: "form-label" %>
    <%= form.select :pizza_size_id, PizzaSize.all.collect{ |p| [p.name, p.id] }, {}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :pizza_id, class: "form-label" %>
    <%= form.select :pizza_id, Pizza.all.collect{ |p| [p.name, p.id] }, {}, class: "form-select" %>
  </div>

  <div>
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
